body {
    background-color: #121212;
    color: #e0e0e0;
}

.primary-text {
    color: #32CD32; /* LimeGreen */
}

.navbar {
    background-color: #1f1f1f;
}

.navbar-brand img {
    height: 40px;
}

.btn-primary {
    background-color: #32CD32;
    border-color: #32CD32;
}

.btn-primary:hover {
    background-color: #28a745;
    border-color: #28a745;
}

a {
    color: #32CD32;
}

a:hover {
    color: #28a745;
}

hr {
    border-color: #32CD32;
}

/* Extra custom styles for the hero image */
.hero-image {
    border-radius: 20px;  /* Alternatively, adjust the radius if needed */
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);  /* Optional shadow */
    margin-bottom: 2rem;  /* Extra spacing for bottom, if needed */
}

/* Footer link styles */
.footer-links a {
    text-decoration: none;
    color: #e0e0e0; /* Lighter text for dark mode */
    transition: color 0.2s ease-in-out;
}

.footer-links a:hover {
    color: #32CD32; /* Lime green hover effect to match the theme */
    text-decoration: underline; /* Optionally add underline on hover */
}

/* Footer copyright */
.footer-copyright {
    font-size: 0.9rem; /* Slightly smaller text for subtle copyright */
}